.u-marginTop80 {
    margin-top: 80px;
}
.main-logo {
	height: 120px;
}
.u-leftAlign {
    text-align: left;
}

.u-alignCenter {
    text-align: center;
}
.u-colorRed {
	color: #EF5550;
}
.u-390width {
	width: 420px !important;
}
.mainContainer {
	margin-top: 80px;
}

.arrow {
	width: 100px;
	cursor: pointer;
}

body {
	color: #333333;
}